body {
    color: #D5D5D5;
    background-color: #000;
    font-family: Comic Sans MS;
}

button {
    width: 20em;
    height: 3em;
    border: none;
    font: inherit;
    color: inherit;
    background-color: #FF4500;
    cursor: pointer;
    white-space: nowrap;
    border: 2px solid #000;
}

input[type="text"] {
    width: 19.75em;
    height: 2em;
    border: none;
    font: inherit;
    color: #005500;
    background-color: #D5D5D5;
    cursor: pointer;
    white-space: nowrap;
    border: 2px solid #000;
}

input[type="password"] {
    width: 19.75em;
    height: 2em;
    border: none;
    font: inherit;
    color: #005500;
    background-color: #D5D5D5;
    cursor: pointer;
    white-space: nowrap;
    border: 2px solid #000;
}

#main {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap-reverse;
    flex-direction: column;
}

#profile {
    display: inline-flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    flex-direction: row;
}

#profile button {
    width: 8em;
    height: 3em;
    margin: 0 2em 2em 2em;
}

#profile img {
    width: 100px;
    height: 100px;
    margin: 0 2em 2em 2em;
}
